<header class="header" [ngClass]="{ colorHeader: isHomePage, stickyHeader: false }">
  <div class="container">
    <a [routerLink]="'/'">
      <img class="logo" src="assets/images/omnifood-logo.png" alt="Connect AI Logo" />
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#hero"><span>Home</span></a></li>
        <li><a class="main-nav-link" href="#services"><span>Services</span></a></li>
        <li><a class="main-nav-link" href="#about"><span>About Us</span></a></li>
        <li><a class="main-nav-link" href="#contact"><span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>