<header class="header" [ngClass]="{ 'nav-open': isOpenMenu }">
  <div class="container">
    <a [routerLink]="'/'">
      <img class="logo" src="assets/images/omnifood-logo.png" alt="Connect AI Logo" />
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#hero" (click)="onToggleMenu()"><span>Home</span></a></li>
        <li><a class="main-nav-link" href="#services" (click)="onToggleMenu()"><span>Services</span></a></li>
        <li><a class="main-nav-link" href="#about" (click)="onToggleMenu()"><span>About Us</span></a></li>
        <li><a class="main-nav-link" href="#contact" (click)="onToggleMenu()"><span>Contact</span></a></li>
      </ul>
    </nav>
    <button class="btn-mobile-nav" (click)="onToggleMenu()">
      <ion-icon *ngIf="!isOpenMenu" class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon *ngIf="isOpenMenu" class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>