<header class="header" [ngClass]="{ 'nav-open': isOpenMenu }">
  <div class="container">
    <a [routerLink]="'/'">
      <img class="logo" src="assets/images/omnifood-logo.png" alt="Connect AI Logo" />
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#hero" (click)="onToggleMenu()"><span>Home</span></a></li>
        <li><a class="main-nav-link" href="#services" (click)="onToggleMenu()"><span>Services</span></a></li>
        <li><a class="main-nav-link" href="#about" (click)="onToggleMenu()"><span>About Us</span></a></li>
        <li><a class="main-nav-link" href="#contact" (click)="onToggleMenu()"><span>Contact</span></a></li>
      </ul>
    </nav>
    <button class="btn-mobile-nav" (click)="onToggleMenu()">
      <ion-icon *ngIf="!isOpenMenu" class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon *ngIf="isOpenMenu" class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="line"></div>
  <div class="container">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="logo" alt="Omnifood logo" src="assets/images/omnifood-logo.png" />
      </a>
      <ul class="social-links">
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>
    </div>

    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">
          Harrison, ACT, 2914
        </p>
        <p class="paragraph">
          <a class="footer-link" href="tel:0414 001 427 ">0414-001-427</a
          ><br />
          <a class="footer-link" href="mailto:sophie.vo@connectai.au"
            >sophie.vo@connectai.au</a
          >
        </p>
      </address>
    </div>

    <nav class="nav-col">
      <p class="footer-heading">Quick Links</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Home</a></li>
        <li><a class="footer-link" href="#">Services</a></li>
        <li><a class="footer-link" href="#">About us</a></li>
        <li><a class="footer-link" href="#">Contact</a></li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Services</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Branding</a></li>
        <li><a class="footer-link" href="#">Digital</a></li>
        <li><a class="footer-link" href="#">Marketing</a></li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    <p class="paragraph">Copyright © 2023 by Connect AI. All rights reserved.</p>
  </div>
</footer>