<!-- HERO -->
<section id="hero" class="section-hero">
  <div class="container hero d-flex aligns-item-center justify-content-center">
    <div class="hero-text-box text-center">
      <h1 class="heading-primary mb-4">{{ LANDING_PAGE_CONTENT.websiteName }}</h1>
      <h2 class="heading-secondary">
        &nbsp;
        <span
          typingAnimator
          [sentences]="[LANDING_PAGE_CONTENT.slogan]"
          [typeSpeed]="100"
          [deleteSpeed]="20"
          [startDelay]="1000"
          [showCursor]="false"
        ></span>
        &nbsp;
      </h2>
    </div>
  </div>
</section>
<!-- SERVICES -->
<section id="services" class="section-services">
  <div class="container services">
    <h2 class="section-title heading-secondary text-center">Services</h2>
    <div class="row pt-4">
      <div *ngFor="let service of LANDING_PAGE_CONTENT.services" class="col-lg-4 mb-5 service">
        <a [routerLink]="service.routing">
          <img class="service-img" [src]="service.imageUrl" [alt]="service.imageDescription">
          <div class="service-img-overlay"></div>
          <div class="service-content">
            <p class="service-title">{{ service.name }}</p>
            <p class="service-description paragraph">{{ service.description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT US -->
<section id="about" class="section-about">
  <div class="container about">
    <h2 class="section-title heading-secondary text-center">About Us</h2>
    <p class="paragraph text-center mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum non fugit qui at architecto odio id vero commodi tempore sint! In obcaecati commodi consequuntur accusamus ut quas quo quos voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsa, delectus debitis consequatur a et officia eius alias incidunt voluptatum sit ut odio nostrum autem maxime reiciendis esse iure praesentium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem illo atque commodi accusantium dolorum qui totam, eos culpa fugit doloribus quas veritatis unde tenetur mollitia ea temporibus. Voluptates, quibusdam.</p>
    <div class="contact">
      <span class="mb-3">Contact: sophie@connectai.com</span>
      <span class="mb-3">Phone: 0414 001 427</span>
    </div>
  </div>
</section>
<!-- CONTACT -->
<section id="contact" class="section-contact">
  <div class="container container-contact">
    <h2 class="section-title heading-secondary text-center">Contact</h2>
    <div class="contact d-flex aligns-item-center justify-content-center">
      <form action="" class="contact-form row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Your name</mat-label>
            <input matInput placeholder="Your name" >
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Your email</mat-label>
            <input matInput placeholder="Your email" >
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea rows="4" matInput placeholder="Message"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
          <button mat-flat-button class="btn-submit" color="primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
