@import "colors";
@import "mixins";

.contact-page {
  min-height: 100vh;
  margin-bottom: 120px;
}

.page-name {
  position: relative;
  background-color: $primary;
  margin-top: 80px;
  margin-bottom: 650px;
  padding: 32px 0;
  height: 500px;

  @include tablet {
    margin-bottom: 600px;
  }
  
  h2.heading-secondary {
    margin-top: 32px;
    display: inline-block;
    font-size: 48px;

    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.items {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;

  .item-wrapper {
    width: 50%;
    padding: 0 24px;
    margin-bottom: 48px;
    z-index: 1;
  }

  .item {
    background-color: $white;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
    padding: 32px;

    .title {
      text-align: center;
      position: relative;

      .icon {
        font-size: 48px;
        margin-bottom: 8px;
        color: #ffc925;
      }

      .heading-tertiary {
        margin-bottom: 48px;
        color: $primary;
      }

      .heading-tertiary::after {
        position: absolute;
        bottom: -24px;
        left: 0;
        right: 0;
        content: '';
        width: 100px;
        height: 2px;
        background: $gradient;
        margin: 0 auto;
      }
    }

    .paragraph {
      color: $gray-tint-40;
    }
  }

  .action {
    button {
      width: 200px;
      padding: 4px;
      font-size: 18px;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        background-color: $primary;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}

.forms {
  padding: 24px;
}