<div class="form" [id]="CONTACT_FORM_IDS.SUPPORT_TICKET">
  <h3 class="heading-tertiary">Support Ticket</h3>
  <p class="help">"<span class="error">*</span>" indicates required field</p>
  <form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    class="contact-form row"
  >
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter your first name" required >
        <mat-error *ngIf="form.get('firstName')?.hasError">{{ getErrorMessage('firstName') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter your last name" required >
        <mat-error *ngIf="form.get('lastName')?.hasError">{{ getErrorMessage('lastName') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" required >
        <mat-error *ngIf="form.get('email')?.hasError">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Enter your phone" required >
        <mat-error *ngIf="form.get('phone')?.hasError">{{ getErrorMessage('phone') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12 mb-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Ticket</mat-label>
        <textarea matInput formControlName="ticket" placeholder="Ticket" rows="5" required ></textarea>
        <mat-error *ngIf="form.get('ticket')?.hasError">{{ getErrorMessage('ticket') }}</mat-error>
      </mat-form-field>
    </div>
    <p class="help">Please describe your support enquiry. Include what you have tried; any error messages received; or your desired outcome. Attach any files or screenshots below.</p>
    <div class="col-md-12 d-flex justify-content-end">
      <button mat-flat-button type="submit" class="btn-submit" color="primary">Submit</button>
    </div>
  </form>
</div>